body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightcyan;
}
h1{
  background-color: gray;
  line-height: 60px;
  margin: 0;
  color: white;
}

form {
    margin: 0 auto;
    margin-top: 200px;
    max-width: 300px;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

select,
button {
    padding: 8px 16px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.output {
    margin-top: 50px;
    font-size: 20px;
}
